.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__header h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}
